@import url(http://fonts.googleapis.com/css?family=Qwigley);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat);
/************************ NAV_MENU *******************/
  .headerTXT{
    text-align: center;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  @supports (position: sticky) {
  /*
    body {
      padding-top: 0;
    }
  */

    header {
      position: sticky;
    }

  }

  .navbar {
    position: relative;
    height: 90px;
    width: 100%;
    transition: 0.5s ease;
  }
  .brandN
  {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    color:#000;

  }

  .elMenu{
    display: none;
  }



  .navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
  }

  .navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
    line-height: 80px;
    margin-right: 20px;
    transition: 0.5s ease;
  }

  .navbar .nav .item .contact {
    display: inline-block;
    background-color: #fff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
  }

  .navbar .nav .item a {
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    color: #000;
    font-size: 15px;
    transition: 0.5s ease;
  }


  .navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 400px;
    height: 70px;
  /*   background-color: firebrick; */
    transition: 0.5s ease;
  }



  .navbar .logo img {
    display: none;
  }

  .scrolled {
   transition: 0.5s ease;
  }

  .scrolled.navbar {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;

  }


  .scrolled.navbar .nav .item {
    line-height: 40px;
    transition: 0.5s ease;
  }



  .scrolled.navbar .nav .item .contact {
    display: inline-block;
    color: black;
    background-color: #fff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;

  }

  .scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 400px;
    height: 70px;
  /*   background-color: firebrick; */
    transition: 0.5s ease;
  }

  .scrolled.navbar .logo h1.brandN
  {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color:#fff;
    transition: 0.5s ease;

  }

  .scrolled.navbar .nav .item a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
  }


@media screen and (max-width:1000px){
  .brandN
  {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    color:#000;
  }
  .small.elMenu{
    width: 110px;
    height: 110px;
    display: inline-block;
    margin-top: -20px;
    background: none;

  }
  .navbar .nav .item {
    display: none;
  }
  .navbar .logo{
    width: 200px;
    margin-top: 20px;
  }
  .scrolled.navbar .logo {
    width: 200px;
    margin-top: 20px;
  }
  .bioImg{
    margin-top: 50px;
  }
  .sqrs{
    margin-top: 20px;
  }
  .ez{
    margin-top: 70px;
  }



}




/* SLIDER */
.sliderMain{
  margin-top: -250px;
  width: 100%;
  height: 100%;
  background-image: url('../img/eagle.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.maintxt{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
}

.txtmain{
  margin-top: 350px;
}

@media screen and (max-width:600px){
    .maintxt{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
  }
    .txtmain{
    margin-top: 250px;
  }
}


/******************** BIO ****************************/

.bioIntro{
  margin-top: 100px;

}

.name{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.name2{
  color: #939393;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.hrs{
  border: solid #000000;
  border-width: 5px 0 0;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 150px;
}


.bioHs{
  color: #000000;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.bioHs1{
  color: #000000;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.bioHs2{
  color: #cfba65;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.ps{
  color: #000;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}

      /* SKILLS PROGRESS BARS */
    .progBar{
      background: #ffffff;
      border: 1px solid #000;
    }
    .progBar1{
      width: 90%;
      background: #000;

    }
    .progBar3{
      width: 80%;
      background: #000;

    }
    .progBar5{
      width: 95%;
      background: #000;

    }


/* WHAT I OFFER */

.name3{
  color: #949494;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}


.whtIoffer{
  margin-top: 300px;
}



.hrs2{
  border: solid #000000;
  border-width: 5px 0 0;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.sqrs{
  border: 2px solid #cfba65;
/*
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
*/
}

.sqrs:hover{
/*   opacity: 0; */
  border: 2px solid #000000;
}

    .sqrsOffset{
      margin-right: 40px;
    }

/* MY PORTFOLIO */


.portfolio{
  margin-top: 300px;
}

.imgMargin{
  margin-top: 100px;
}

.leoroofing{
  margin-left: 70px;
}

@media screen and (max-width:1000px){
  .leoroofing{
    margin-left: 0px;
  }
}

.imgs:hover{
  border-bottom: solid 2px black;
}


/* testimonials */

.testimonials{
  background: #f1f1f1;
  margin-top: 300px;
}

.testName{
  margin-top: 150px;
}
.name4{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
/* CONTACT FORM */

.forma{
  margin-top: 250px;
}

.contacth1{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}



/* MEDIA QUERIES */


@media screen and (max-width:600px){
    .scrolled.navbar .logo h1.brandN,
    .brandN
    {
    font-size: 20px;
  }
    .sliderMain{
    margin-top: 0;
    background-image: none;
    height: 40%;
  }
    .maintxt{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
  }
    .txtmain{
    margin-top: 250px;
  }
  .name{
    font-size: 30px;
  }
  .name2{
    font-size: 10px;
  }
  .ps{
    font-size: 15px;
  }

  .bioImg{
    margin-top: 50px;
  }

  .whtIoffer{
    margin-top: 150px;
  }

  .hrs2{
  border: solid #000000;
  border-width: 5px 0 0;
  width: 150px;

  }

  .sqrsOffset{
    margin-left: auto;
    margin-right: auto;
  }


  .sqrs{
    margin-top: 20px;
  }

  .name4,
  .name3{
    text-align: center;
  }

  .leoroofing{
    margin-left: 0px;
  }
  .ez{
    margin-top: 70px;
  }

  .imgMargin{
    margin-top: 70px;
  }

  .testName{
    margin-top: -150px;
  }
  .slideP{
    font-size: 12px;
  }
  .forma{
    margin-top: 100px;
  }
}


